@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

.button-container {
    display: flex;
    align-self: flex-end;
    margin-top: 2em;
    margin-right: -200px;
}

.button-rules{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid hsl(217, 16%, 45%);
    background-color: hsl(214, 47%, 23%);
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 100;
    font-size: .9rem;
    cursor: pointer;
}

.button-rules:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.modal-title {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: -20px;
    color: hsl(214, 47%, 23%);
}

.modal-image {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 380px;
    margin-top: 15px;
}
