@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 800px;
    height: 150px;
    margin: auto;
    margin-top: 4rem;
    padding: 20px 30px 10px 30px;
    border-radius: 25px;
    border: 5px solid hsl(217, 16%, 45%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
}

.header-names {
    color: white;
    line-height: 1px;
    font-size: 1.5rem;
}

.score-card {
    width: 180px;
    height: 140px;
    background-color: white;
    border-radius: 25px;
    grid-column: row-end 3;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.score-text {
    color: hsl(229, 64%, 46%);
    font-size: 1rem;
    padding-top: 10px;
}